.carousel * {max-width:100%;	max-height:100%;}
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
		  transform-style: preserve-3d;
}
.carousel > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}

.carousel.backface > * {
  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
}
.carousel {
  -webkit-transition: -webkit-transform 1s;
		  transition: transform 1s;
}
.carousel > *{
  -webkit-transition: opacity 1s, -webkit-transform 1s;
		  transition: opacity 1s, transform 1s;
}
/**/
.floatleft{	float :left;}
.floatright{float :right;}
.textalignleft{	text-align:left;}
#ctrls {
	position:fixed;
	bottom:0;
}
figure {
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.wrapper{
width:100%;
overflow:hidden;

}
#dots {
	width: 100%;
	float: left;
}
.dotOff {
	width: 15px;
	height:15px;
	background-color: gray;
	float: left;
	border-radius: 100%;
	margin: 1%;
	position:relative;
}
.dotOn{background-color: blue;}
.container,#container{
	width: 40%;
	position: relative;
	margin: 0 30%;
}
#container::after,.dotOff ::after{
	content:'';
	display:block;
	padding-top:100%;
}
figure{
  height:100% !important;
}
.carousel > * {
	/* opacity:0.8;    */
	/* background-color: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); */
	text-align: center;
	width:90%;
	height:100%;
	left:5%;
	top:2%;
	border-radius: 	25px 25px 25px 25px;

}
.carousel > *:hover{
  opacity: 0.9;
}
body{
  background:url("https://wallpaperaccess.com/full/471765.jpg");
  background-size:cover;
}
h1{
  text-align: center;
  margin-top:20px;
  margin-bottom:15px;
  padding-bottom:0;
  color: white;
}
button{
  background:rgba(255,255,255,0);
  color:white;
  border: none;
}
#prev{
  position: relative;
  top:-200px;
}
#next{
  display:block !important;
  position: relative;
  top:-200px;
  margin-left: 93vw;
}
.threeD{
	-webkit-perspective: 800px;
			perspective: 800px;
}
.twoD{
	border: 1px solid;
	overflow: hidden;
}
.twoD >*>*{
	width:100%;
	height:100%;
	left:0;
	top:0;
	border-radius: 	0;
}

p{
  display: none !important;
}
.footer {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgba(250, 250, 250, 0.15);
  padding: 0 0;
  display: block;
}
.footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.footer p a {
  color: #f5a425;
  margin-right: 5px;
}
.social-media{
  margin-top: 15px;
}
.social-media a{

  margin-right: 15px;
}
